.footer{
    background: rgba(8, 102, 79, 1);
    Height:144px;
    
}
.footer_info{
   display: flex;
    align-items: center;
    padding-top: 5%; 
}
.footer_menu{
    margin-left: 15%;
    width:65%;
    font-size: 16px;
}
.icon_img{
width: 35px;
height: 35px;
margin-left: 10px;
}

@media (max-width: 400px){
    .footer{
        Height:291px
    }
.mobal{
    display: block;
    margin-top: 20px;
}
.footer_menu{
    line-height: 40px;
}
.header_menu{
    margin-left: -10px;
    
}
.icon{
    margin-left: 60px;
}
.icon_img{
    margin-bottom: 180px;
    width: 24px;
height: 23px;


}
}