.header{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header_info{
    display: inline-flex;
    margin-top: 20px;
}
.logo{
Width:91.04px;
Height:26.9px;
margin-top: 10px;
}
/*адресс*/
.address{
    align-items: center;
    margin-left: 10px;
    width: 20%;
     
}
.vector{
width: 13.03px;
height: 18.75px;
margin-bottom: 20px;
margin-left: 20px;

}

.adress_bloc{
display: inline-block;
width: 50%;
margin-left: 5px;
line-height: 0.5px; 


}
.greu{
    color: rgba(134, 134, 134, 1);

}

.tel{
    margin: 0px;
    padding: 0px;
    width: 30%;
    padding-left: 190px;
   
}
.whatsapp{
width: 28px;
height: 28px;

margin-right: 5px;
}

.button_record{
width: 196px;
height: 43px;
border-radius: 50px;
color: #FFFFFF;
background: #0DBC91;
border: #0DBC91;

&:hover{
background: rgba(0, 210, 159, 1);
}
}

/*зеленое меню*/
.green_menu{
    background: rgba(31, 161, 129, 1);
    Height:43px;
    padding-top: 10px;
}

.header_menu{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-right: 20px;
    
}

  /* бургер */
  .burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 50px;
    height: 18px;
    margin-top: -5px;
    margin-left: 10px;
    flex-shrink: 0;
    
}

.burger span{
height: 4px;
width: 100%;
transform: scale(1);
background-color: #0DBC91;
}

.burger::before,.burger::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #0DBC91;
    
}
.burger::before{top: -5px;}
.burger::after{bottom: -5px;}

/* добавить актив для анимации */
.burger.active span{transform: scale(0);}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0,-50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0,50%);
}
.button_record_second{
    display: none;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 43px;
    border-radius: 50px;
    font-weight: 700;
    color: #1FA181;
    background: #F6F6F6;
    border: none;
    position: absolute;
    bottom: 300px;
    left: 25px;
}
.open{
    display: flex !important;
}

@media (max-width: 400px){
   .logo{
    margin-top: -5px;
    margin-left: 20px;
    width: 62px;
    height: 18.32px;
   }
   
   .Rosrov{
    display: flex;
    font-size: 13px;
    line-height: 16.82px;
    margin-left: 90px;
    margin-top: 5px;

   }
   .tel_telefon{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-left: -200px;
    margin-top: -15px;
   }
   .greu, .vector, .whatsapp{
    display: none;
   } 
    
   .burger{
    display: flex;
   }

  /* меню пока не получилось */
   .green_menu{
   display: none;
    position: fixed;
    width: 375px;
    height: 602px;
    top: 5%;bottom: 0;left: 0;right: 0;
    border-color:  #45927FE5;
    opacity: 90%;
    
   .menu{
  
    z-index: 60;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: flex-end;
    row-gap: 20px;
    font-size: 16px;
    margin-top: 30px;
    position: relative;
  
   }  
   
}

  .button{
    display: flex; 
    z-index: 70;

   } 
    .button_record_second{
     display: flex; 
    
   } 

}